.component-parent {
	position: relative;
	top: 109px;
	left: calc(50% - 590px);
	width: 100%;
	height: 100%;
}

.detail-1920 {
	width: 100%;
	position: relative;
	background-color: var(--color-white);
	height: 1440px;
	overflow: hidden;
	text-align: left;
	font-size: var(--font-size-13xl);
	color: var(--color-gray-200);
	font-family: var(--font-pretendard);
}

.header-wrapper{
	width:100%;
	height:30%;
}

.tab-menu-wrapper {
	position: relative;
	font-size: var(--font-size-lg);
}


.group-wrapper {
	position: relative; /* 부모 요소의 위치를 상대적으로 설정 */
}

.info-wrapper{
	position: relative;
}
