.main {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
	background-color: var(--color-white);
	width: 1440px;
	height: 2160px;
	overflow: hidden;
}
.logo,
.menu01,
.menu02 {
	letter-spacing: -0.01em;
	line-height: 35px;
	display: inline-block;
}
.logo {
	position: absolute;
	top: 43px;
	left: 130px;
	font-size: 32px;
	font-weight: 800;
	width: 96px;
}
.menu01,
.menu02 {
	top: 0;
	font-weight: 600;
	width: 72px;
}
.menu01 {
	position: absolute;
	left: 0;
}
.menu02 {
	left: 154px;
}
.menu,
.menu02,
.menu03 {
	position: absolute;
}
.menu03 {
	top: 0;
	left: 308px;
	letter-spacing: -0.01em;
	line-height: 35px;
	font-weight: 600;
	display: inline-block;
	width: 72px;
}
.menu {
	top: 44px;
	left: 346px;
	width: 380px;
	height: 35px;
	text-align: center;
	font-size: var(--font-size-lg);
}
.vectorIcon {
	position: absolute;
	height: 40%;
	width: 5.44%;
	top: 32.5%;
	right: 94.56%;
	bottom: 27.5%;
	left: 0;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.logOut {
	position: absolute;
	top: 11px;
	left: 24px;
	display: inline-block;
	width: 58px;
}
.groupIcon {
	position: absolute;
	height: 100%;
	width: 13.61%;
	top: 0;
	right: 50.34%;
	bottom: 0;
	left: 36.05%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.kimsw1245 {
	top: 11px;
	left: 154px;
	font-weight: 600;
	display: inline-block;
	width: 140px;
}
.bgBox,
.div,
.kimsw1245 {
	position: absolute;
}
.div {
	height: 1.85%;
	width: 20.42%;
	top: 1.9%;
	right: 9.03%;
	bottom: 96.25%;
	left: 70.56%;
}
.bgBox {
	top: 113px;
	left: 130px;
	border-radius: 12px;
	background-color: #eaf8ff;
	width: 1180px;
	height: 360px;
}
.shinhanIcoIcon {
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	object-fit: cover;
}
.div1,
.sTit,
.shinhanIcoIcon {
	position: absolute;
}
.div1 {
	top: 0;
	left: 0;
	letter-spacing: -0.01em;
	line-height: 42px;
	font-weight: 600;
}
.sTit {
	top: 13px;
	left: 44px;
	width: 83px;
	height: 11px;
}
.sLogo {
	top: 137px;
	left: 154px;
	width: 127px;
	height: 36px;
}
.b,
.div2,
.sLogo {
	position: absolute;
}
.b {
	top: 0;
	left: 297px;
	letter-spacing: -0.02em;
	line-height: 55px;
}
.div2 {
	top: 54px;
	left: 153px;
	font-size: var(--font-size-base);
	line-height: 26px;
}
.div3,
.groupChild {
	position: absolute;
	top: 0;
	left: 0;
}
.groupChild {
	width: 60px;
	height: 60px;
}
.div3 {
	line-height: 26px;
	font-weight: 500;
}
.span {
	font-size: var(--font-size-9xl);
	font-weight: 600;
	color: var(--color-gray);
}
.div4 {
	position: absolute;
	top: 27px;
	left: 0;
	line-height: 46px;
	font-size: var(--font-size-11xl);
	color: var(--color-mediumslateblue);
}
.groupContainer,
.parent {
	position: absolute;
	top: 6px;
	left: 72px;
	width: 126px;
	height: 48px;
}
.groupContainer {
	top: 0;
	left: 0;
	width: 198px;
	height: 60px;
}
.div5 {
	position: absolute;
	top: 3px;
	left: 72px;
	line-height: 26px;
	font-weight: 500;
}
.span2 {
	color: var(--color-gray);
}
.span1 {
	font-weight: 600;
}
.div6,
.groupDiv {
	position: absolute;
}
.div6 {
	top: 30px;
	left: 72px;
	line-height: 46px;
	font-size: var(--font-size-11xl);
	color: var(--color-mediumslateblue);
}
.groupDiv {
	top: 0;
	left: 305px;
	width: 210px;
	height: 60px;
}
.b1,
.div7 {
	position: absolute;
	line-height: 26px;
}
.div7 {
	top: 5px;
	left: 72px;
	font-weight: 500;
}
.b1 {
	top: 2px;
	left: 0;
}
.b2 {
	top: 2px;
	left: 20px;
	font-size: var(--font-size-11xl);
	line-height: 46px;
}
.b2,
.div8,
.group {
	position: absolute;
}
.div8 {
	top: 0;
	left: 97px;
	line-height: 26px;
	font-weight: 500;
	color: var(--color-gray);
}
.group {
	top: 32px;
	left: 72px;
	width: 141px;
	height: 28px;
	font-size: var(--font-size-lg);
	color: var(--color-mediumslateblue);
}
.groupParent,
.groupParent1 {
	position: absolute;
	top: 0;
	left: 631px;
	width: 213px;
	height: 60px;
	font-size: var(--font-size-base);
}
.groupParent {
	top: 121px;
	left: 0;
	width: 844px;
	font-size: var(--font-size-mini);
}
.banCont {
	top: 203px;
	left: 298px;
	width: 844px;
	height: 181px;
	font-size: 42px;
}
.b3,
.banCont,
.inBox {
	position: absolute;
}
.inBox {
	top: 0;
	left: 0;
	border-radius: var(--br-8xs);
	background-color: var(--color-gray-100);
	border: 1px solid var(--color-gray-100);
	box-sizing: border-box;
	width: 240px;
	height: 48px;
}
.b3 {
	top: 14px;
	left: 18px;
	display: inline-block;
	color: var(--color-white);
	width: 93px;
}
.arrIcoIcon {
	top: 24px;
	left: 194px;
	width: 28px;
	height: 0;
	object-fit: contain;
}
.arrIcoIcon,
.div9,
.inBox1 {
	position: absolute;
}
.inBox1 {
	top: 56px;
	left: 0;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-gray);
	box-sizing: border-box;
	width: 240px;
	height: 48px;
}
.div9 {
	top: 70px;
	left: 18px;
	font-weight: 600;
	display: inline-block;
	width: 93px;
}
.arrIcoIcon1 {
	top: 80px;
	left: 194px;
	width: 28px;
	height: 0;
	object-fit: contain;
}
.arrIcoIcon1,
.div10,
.inBox2 {
	position: absolute;
}
.inBox2 {
	top: 112px;
	left: 0;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-gray);
	box-sizing: border-box;
	width: 240px;
	height: 48px;
}
.div10 {
	top: 126px;
	left: 18px;
	font-weight: 600;
	display: inline-block;
	width: 93px;
}
.arrIcoIcon2 {
	position: absolute;
	top: 136px;
	left: 194px;
	width: 28px;
	height: 0;
	object-fit: contain;
}
.div12,
.tabMenu {
	position: absolute;
	top: 537px;
	left: 130px;
	width: 240px;
	height: 160px;
	font-size: var(--font-size-lg);
}
.div12 {
	top: 0;
	left: 2px;
	font-size: var(--font-size-2xl);
	letter-spacing: -0.01em;
	line-height: 42px;
	font-weight: 600;
	color: var(--color-gray);
	display: flex;
	align-items: center;
	width: 164px;
	height: 24px;
}
.bgBox1 {
	top: 34px;
	left: 0;
	background-color: var(--color-gray);
	width: 880px;
	height: 1px;
}
.bgBox1,
.bgBox2,
.bgBox3 {
	position: absolute;
}
.bgBox2 {
	top: 68px;
	left: 0;
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 880px;
	height: 468px;
}
.bgBox3 {
	top: 69px;
	left: 1px;
	background-color: var(--color-ghostwhite);
	width: 220px;
	height: 466px;
}
.wLine,
.wLine1 {
	position: absolute;
	box-sizing: border-box;
}
.wLine {
	top: 114.5px;
	left: -0.5px;
	border-top: 1px solid var(--color-lightgray-100);
	width: 881px;
	height: 1px;
}
.wLine1 {
	top: 162.5px;
}
.wLine1,
.wLine2,
.wLine3 {
	left: -0.5px;
	border-top: 1px solid var(--color-lightgray-100);
	width: 881px;
	height: 1px;
}
.wLine2 {
	position: absolute;
	top: 210.5px;
	box-sizing: border-box;
}
.wLine3 {
	top: 258.5px;
}
.hLine,
.wLine3,
.wLine4 {
	position: absolute;
	box-sizing: border-box;
}
.wLine4 {
	top: 365.5px;
	left: -0.5px;
	border-top: 1px solid var(--color-lightgray-100);
	width: 881px;
	height: 1px;
}
.hLine {
	top: 68.5px;
	left: 219.5px;
	border-right: 1px solid var(--color-lightgray-100);
	width: 1px;
	height: 467px;
}
.div13 {
	top: 87px;
	left: 48px;
	font-weight: 500;
	color: var(--color-gray);
}
.div13,
.div14,
.div15,
.div16 {
	position: absolute;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div14 {
	top: 87px;
	left: 244px;
}
.div15,
.div16 {
	top: 133px;
}
.div15 {
	left: 48px;
	font-weight: 500;
	color: var(--color-gray);
}
.div16 {
	left: 244px;
}
.div17 {
	top: 182px;
	left: 48px;
	font-weight: 500;
	color: var(--color-gray);
}
.div17,
.div18,
.div19,
.div20 {
	position: absolute;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div18 {
	top: 181px;
	left: 244px;
}
.div19,
.div20 {
	top: 229px;
}
.div19 {
	left: 48px;
	font-weight: 500;
	color: var(--color-gray);
}
.div20 {
	left: 244px;
}
.div21,
.span3 {
	font-weight: 500;
}
.div21 {
	position: absolute;
	top: 307px;
	left: 48px;
	letter-spacing: -0.01em;
	line-height: 42px;
	color: var(--color-gray);
}
.span3 {
	font-family: var(--font-pretendard);
}
.p {
	margin: 0;
}
.div22 {
	top: 283px;
	left: 244px;
	line-height: 24px;
}
.div22,
.div23,
.div24 {
	position: absolute;
	letter-spacing: -0.01em;
}
.div23 {
	top: 441px;
	left: 48px;
	line-height: 42px;
	font-weight: 500;
	color: var(--color-gray);
}
.div24 {
	top: 390px;
	left: 244px;
	line-height: 22px;
}
.span7 {
	font-weight: 500;
}
.div25,
.div26,
.div27 {
	position: absolute;
	top: 441px;
	left: 244px;
	letter-spacing: -0.01em;
	line-height: 24px;
}
.div26,
.div27 {
	top: 470px;
}
.div27 {
	top: 499px;
}
.div11 {
	top: 550px;
	left: 430px;
	width: 880px;
	height: 536px;
	font-size: var(--font-size-mini);
	color: var(--color-darkslategray);
}
.bgBox5,
.bgBox6,
.div11 {
	position: absolute;
}
.bgBox5 {
	top: 68px;
	left: 0;
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 880px;
	height: 287px;
}
.bgBox6 {
	top: 69px;
	left: 1px;
	background-color: var(--color-ghostwhite);
	width: 878px;
	height: 46px;
}
.hLine1,
.hLine2,
.wLine9 {
	position: absolute;
	box-sizing: border-box;
}
.wLine9 {
	top: 306.5px;
	left: -0.5px;
	border-top: 1px solid var(--color-lightgray-100);
	width: 881px;
	height: 1px;
}
.hLine1,
.hLine2 {
	top: 68.5px;
	left: 291.5px;
	border-right: 1px solid var(--color-lightgray-100);
	width: 1px;
	height: 286px;
}
.hLine2 {
	left: 583.5px;
}
.div30,
.div31,
.div32 {
	position: absolute;
	top: 87px;
	left: 134px;
	letter-spacing: -0.01em;
	line-height: 42px;
	font-weight: 500;
	color: var(--color-gray);
}
.div31,
.div32 {
	left: 398px;
}
.div32 {
	left: 677px;
}
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
	position: absolute;
	top: 133px;
	left: 129px;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
	left: 420px;
}
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
	left: 710px;
}
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
	top: 181px;
	left: 129px;
}
.div37,
.div38,
.div39,
.div40,
.div41 {
	left: 426px;
}
.div38,
.div39,
.div40,
.div41 {
	left: 711px;
}
.div39,
.div40,
.div41 {
	top: 229px;
	left: 126px;
}
.div40,
.div41 {
	left: 420px;
}
.div41 {
	left: 710px;
}
.div42,
.div43 {
	position: absolute;
	top: 278px;
}
.div42 {
	left: 126px;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div43 {
	left: 420px;
}
.div43,
.div44,
.div45,
.div46 {
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div44 {
	position: absolute;
	top: 278px;
	left: 712px;
}
.div45,
.div46 {
	top: 326px;
}
.div45 {
	position: absolute;
	left: 126px;
}
.div46 {
	left: 420px;
}
.div28,
.div46,
.div47 {
	position: absolute;
}
.div47 {
	top: 326px;
	left: 711px;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div28 {
	top: 1134px;
	left: 430px;
	width: 880px;
	height: 355px;
	font-size: var(--font-size-mini);
	color: var(--color-darkslategray);
}
.div49,
.div50 {
	position: absolute;
	letter-spacing: -0.01em;
	line-height: 42px;
}
.div49 {
	top: 0;
	left: 2px;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 164px;
	height: 24px;
}
.div50 {
	top: 67px;
	left: 1px;
	font-size: var(--font-size-lg);
	font-weight: 500;
}
.otp {
	margin: 0;
	white-space: pre-wrap;
}
.eContainer {
	position: absolute;
	top: 112px;
	left: 2px;
	font-size: var(--font-size-mini);
	letter-spacing: -0.01em;
	line-height: 26px;
	color: var(--color-darkslategray);
}
.bgBox8,
.div48 {
	position: absolute;
	width: 880px;
}
.div48 {
	top: 1537px;
	left: 430px;
	height: 331px;
	font-size: var(--font-size-2xl);
}
.bgBox8 {
	top: 0;
	left: 0;
	border-radius: var(--br-8xs);
	background-color: var(--color-ghostwhite);
	height: 126px;
}
.banProtect1Icon {
	position: absolute;
	top: 27px;
	left: 24px;
	width: 110px;
	height: 71.1px;
	object-fit: cover;
}
.div52,
.div53 {
	position: absolute;
	left: 0;
	letter-spacing: -0.01em;
}
.div52 {
	top: 0;
	line-height: 42px;
	font-weight: 500;
}
.div53 {
	top: 29px;
	font-size: 14px;
	line-height: 22px;
	color: var(--color-darkslategray);
}
.div51,
.txt {
	position: absolute;
	top: 33px;
	left: 158px;
	width: 692px;
	height: 61px;
}
.div51 {
	top: 1916px;
	left: 430px;
	width: 880px;
	height: 126px;
}
.sub2 {
	width: 100%;
	position: relative;
	height: 2160px;
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-gray);
	font-family: var(--font-pretendard);
}
