@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-pretendard: Pretendard;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray-100: #cdd1de;
  --color-gray: #080808;
  --color-white: #fff;
  --color-mediumslateblue: #1355ff;
  --color-lightslategray: #7f879e;
  --color-gray-100: #061237;
  --color-gray: #080808;
  --color-red-100: #ff2626;
  --color-red-200: #fd1111;

  /* Border radiuses */
  --br-8xs: 5px;
}
