.main11920,
.main11920 * {
	box-sizing: border-box;
	font-family: var(--font-pretendard);
}
.main11920 {
	background: #ffffff;
	height: 1440px;
	position: relative;
	overflow: hidden;
}

.frame49 {
	width: 1440px;
	height: 1316px;
	position: absolute;
	left: calc(50% - 720px);
	top: 39px;
}
.frame48 {
	width: 1180px;
	height: 1207px;
	position: absolute;
	left: calc(50% - 590px);
	top: 109px;
}

.lArrow2 {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 274px;
	top: 116px;
	overflow: visible;
}

/* common */
.font14 {
	font-size: var(--font-size-sm);
}
.font16 {
	font-size: var(--font-size-base);
}
.font18 {
	font-size: var(--font-size-lg);
}
.font20 {
	font-size: var(--font-size-xl);
}
.font28 {
	font-size: var(--font-size-9xl);
}
.font36 {
	font-size: var(--font-size-17xl);
}
.font48 {
	font-size: var(--font-size-17xl);
}
.colorBlue {
	color: var(--color-mediumslateblue-100);
}
.colorBlack {
	color: var(--color-gray);
}
.colorWhite {
	color: var(--color-white);
}
.colorOrange {
	color: var(--color-darkorange);
}
.colorNavy{
	color: var(--color-midnightblue);
}
.bold400{
	font-weight: 400;
}
.bold500{
	font-weight: 500;
}
.bold600{
	font-weight: 600;
}
.bold700{
	font-weight: 700;
}

/* banner */
.bannerArea {
	width: 1180px;
	height: 387px;
	position: relative;
}
.bannerArea span, .productArea .title span{
	line-height: 46px;
	display: block;
}
.bannerArea .img {
	width: 387px;
	height: 387px;
	overflow: visible;
}
.bannerTitle {
	margin-bottom: 4%;
	text-align: left;
	
	line-height: 55px;
	width: auto;
	height: 44px;
}
.bannerContents {
	padding-left: 8%;
	width : 50%;
	display: inline-block;
	top: 30%;
	position: absolute;
}
.btnNavy {
	border-radius: 50px;
	width: 240px;
	height: 48px;
	background : var(--color-gray-100);
	color : var(--color-white);
	font-size: var(--font-size-base);
	cursor : pointer;
}
.bannerBtnArea{
	display: inline-block;
	width: auto;
	height: 280px;
	position: relative;
	top: -65px;
	left: 90px;
}

/* productList */
.productArea {
	width: 1180px;
	height: 280px;
	position: relative;
	display:block;
	margin-top: 10%;
}
.productArea .title {
	display: inline-block;
}
.productList {
	display: inline-block;
	width: 80%;
	height: 100%;
}
.product {
	width: 280px;
	height: 100%;
	position: inherit;
	border-radius: 12px;
	display: inline-block;
	background: var(--color-ghostwhite);
	margin: 5px;
}
.moreView {
	width: 144px;
	height: 24px;
	position: relative;
}
.product > .tit {
	display: inline-block;
	height: 48px;
	margin: 20px;
	margin-bottom: 60px;
}
.product .tit .ico {
	width: 42px;
	height: 42px;
}
.product .tit .nm {
	text-align: left;
	width: calc(100% - 57px);
	height: auto;
	display: inline-block;
	margin-left: 15px;
	align-content: center;
}
.product .tit .nm span {
	text-align: left;
	width: auto;
	height: auto;
	display: block;
	margin-bottom: 3px;
}
.product .cnts {
	padding : 10px;
}
.product .cnts .intrRate {
	height: 80%;
}
.product .cnts .intrRate .tit {
	text-align: center;
	line-height: 42px;
	margin-left: 45px;
	width: 187px;
	height: 34px;
	align-items: center;
	justify-content: flex-end;
	position: inherit;
	margin-bottom: -10px
}
.product .cnts .intrRate .cnts {
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	position: inherit;
}
.product .cnts .trms {
	position: relative;
	text-align: right;
}