.header {
    height: 80px;
    display: flex;
    align-items: center;
}
.logo,
.menu01,
.menu02,
.menu03,
.vectorIcon,
.groupIcon,
.kimsw1245 {
    cursor: pointer;
}
.logo,
.menu01,
.menu02 {
	letter-spacing: -0.01em;
	line-height: 35px;
	display: inline-block;
}
.logo {
	position: absolute;
	font-size: 32px;
	font-weight: 800;
	width: 96px;
}
.menu01,
.menu02 {
	top: 0;
	font-weight: 600;
	width: 72px;
}
.menu02 {
	left: 150px;
}
.menu01,
.menu02,
.menu03 {
	position: absolute;
	text-align: center;
}
.menu03 {
	top: 0;
	left: 300px;
	letter-spacing: -0.01em;
	line-height: 35px;
	font-weight: 600;
	display: inline-block;
	width: 72px;
}
.menu {
	left: 350px;
	width: 380px;
	height: 35px;
	font-size: var(--font-size-lg);
	position: relative;
}
.vectorIcon {
	position: relative;
	width: 16px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.logIn,
.logOut,
.signUp {
	position: relative;
	left: 10px;
	display: inline-block;
	width: 58px;
	cursor: pointer;
}
.groupIcon {
	position: relative;
	height: 35px;
	width: 35px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
}
.kimsw1245 {
	position: relative;
	left: 10px;
	font-weight: 600;
	display: inline-block;
}
.vectorDiv {
    position: relative;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.signUp,
.vectorIcon1 {
	position: relative;
}
.vectorIcon1 {
	height: 100%;
	width: 16px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.signUp {
	left: 10px;
}
.vectorParent {
	height: 35px;
	width: 200px;
    right: 0px;
	text-align: left;
	font-size: var(--font-size-base);
	position: absolute;
	display: flex;
	align-items: center;
}
