.back {
	top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	background-color: var(--color-white);
	width: 1440px;
	height: 1280px;
	overflow: hidden;
}
.back,
.bultIcon,
.div {
	position: absolute;
}
.bultIcon {
	top: 85px;
	left: 510px;
	width: 26.9px;
	height: 22px;
}
.div {
	top: 86px;
	left: 545px;
	font-size: 24px;
	letter-spacing: -0.01em;
	line-height: 35px;
	font-weight: 600;
	display: inline-block;
	width: 100px;
}
.span {
	color: var(--color-red-200);
}
.email {
	top: 148px;
	left: 509px;
	font-weight: 500;
}
.email,
.email1 {
	position: absolute;
}
.email1 {
	top: 174px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 320px;
	height: 42px;
	padding-left: 12px;
}
.inBox1,
.mfdbcom {
	position: absolute;
	top: 186px;
	left: 737px;
}
.inBox1 {
	top: 174px;
	left: 836px;
	border-radius: var(--br-8xs);
	background-color: var(--color-gray-100);
	width: 94px;
	height: 42px;
	cursor: pointer;
}
.b {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
}
.div1 {
	position: absolute;
	top: 224px;
	left: 511px;
	font-size: var(--font-size-smi);
	color: var(--color-red-100);
}
.div2 {
	top: 252px;
	left: 509px;
	font-weight: 500;
}
.div2,
.password {
	position: absolute;
}
.password {
	top: 278px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
	padding-left: 12px;
}
.div4 {
	top: 328px;
	left: 511px;
	font-size: var(--font-size-smi);
	color: #2a66ff;
}
.div4,
.div5,
.inBox3 {
	position: absolute;
}
.div5 {
	top: 356px;
	left: 509px;
	font-weight: 500;
}
.inBox3 {
	top: 382px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
	padding-left: 12px;
}
.div6 {
	top: 395px;
	left: 522px;
	font-size: var(--font-size-sm);
	font-weight: 300;
	color: var(--color-lightslategray);
}
.div6,
.div7,
.div8 {
	position: absolute;
}
.div7 {
	top: 432px;
	left: 511px;
	font-size: var(--font-size-smi);
	color: var(--color-red-100);
}
.div8 {
	top: 460px;
	left: 509px;
	font-weight: 500;
}
.inBox4 {
	top: 486px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
	padding-left: 12px;
}
.div10,
.div9,
.inBox4 {
	position: absolute;
}
.div9 {
	top: 536px;
	left: 511px;
	font-size: var(--font-size-smi);
	color: var(--color-red-100);
}
.div10 {
	top: 564px;
	left: 509px;
	font-weight: 500;
	display: inline-block;
	width: 38px;
	height: 18px;
}
.genderRadioGroup {
    border: none;
    position: absolute;
    left: 493px;
    top: 591px;
}
.genderRadioLabel {
    margin-right: 46px;
}
.div13 {
	position: absolute;
	display: inline-block;
}
.div13 {
	top: 564px;
	left: 720px;
	font-weight: 500;
	width: 131px;
	height: 18px;
}
.inBox5 {
	top: 590px;
	left: 720px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 210px;
	height: 42px;
	padding-left: 37px;
	-webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.div14,
.div15,
.inBox5 {
	position: absolute;
}
.div14 {
	top: 603px;
	left: 732px;
	font-size: var(--font-size-sm);
	font-weight: 300;
	color: var(--color-lightslategray);
}
.div15 {
	top: 640px;
	left: 511px;
	font-size: var(--font-size-smi);
	color: var(--color-red-100);
}
.div16 {
	top: 668px;
	left: 509px;
	font-weight: 500;
	display: inline-block;
	width: 75px;
	height: 18px;
}
.div16,
.div17,
.inBox6 {
	position: absolute;
}
.inBox6 {
	top: 694px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
}
.div17 {
	top: 706px;
	left: 522px;
	font-size: var(--font-size-sm);
	font-weight: 300;
	color: var(--color-lightslategray);
	display: inline-block;
	width: 171px;
	height: 17px;
}
.member2Child {
	top: 711px;
	left: 900px;
	width: 14px;
	height: 8px;
	object-fit: contain;
}
.div18,
.inBox7,
.member2Child {
	position: absolute;
}
.jobCategorySelectWrapper {
    position: absolute;
    top: 694px;
    left: 510px;
}
.div18 {
	top: 752px;
	left: 509px;
	font-weight: 500;
	display: inline-block;
	width: 75px;
	height: 18px;
}
.inBox7 {
	top: 778px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
	padding-left: 12px;
}
.div19,
.div20 {
	position: absolute;
}
.div19 {
	top: 828px;
	left: 510px;
	font-size: var(--font-size-smi);
	color: var(--color-red-100);
}
.div20 {
	top: 856px;
	left: 509px;
	font-weight: 500;
	display: inline-block;
	width: 48px;
	height: 18px;
}
.inBox8 {
	top: 876px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 180px;
	height: 42px;
}
.b1,
.btnBox,
.inBox8 {
	position: absolute;
}
.btnBox {
	top: 876px;
	left: 696px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-gray-100);
	box-sizing: border-box;
	width: 94px;
	height: 42px;
}
.b1 {
	top: 888px;
	left: 717px;
	display: inline-block;
	color: #222;
	width: 52px;
	height: 18px;
}
.inBox10,
.inBox9 {
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 420px;
	height: 42px;
}
.inBox9 {
	position: absolute;
	top: 926px;
}
.inBox10 {
	top: 976px;
}
.div21,
.div22,
.inBox10 {
	position: absolute;
}
.div21 {
	top: 989px;
	left: 522px;
	font-size: var(--font-size-sm);
	font-weight: 300;
	color: var(--color-lightslategray);
	display: inline-block;
	width: 156px;
	height: 17px;
}
.div22 {
	top: 1042px;
	left: 509px;
	font-weight: 500;
}
.productRecommendRadioGroup {
    border: none;
    position: absolute;
    top: 1070px;
    left: 494px;
}
.productRecommendRadioLabel {
    margin-right: 33px;
}
.chBox {
	position: absolute;
}
.chBox {
	top: 1133px;
	left: 510px;
	border-radius: var(--br-10xs);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgray-100);
	box-sizing: border-box;
	width: 16px;
	height: 16px;
}
.div26 {
	top: 1132px;
	left: 534px;
}
.b2,
.btnBox1,
.div26 {
	position: absolute;
}
.btnBox1 {
	top: 1162px;
	left: 510px;
	border-radius: var(--br-8xs);
	background-color: var(--color-mediumslateblue);
	width: 420px;
	height: 48px;
}
.b2 {
	top: 1176px;
	left: 696px;
	font-size: var(--font-size-lg);
	color: var(--color-white);
}
.member2 {
	width: 100%;
	position: relative;
	height: 1280px;
	overflow: hidden;
	text-align: left;
	font-size: var(--font-size-mini);
	color: var(--color-gray);
	font-family: var(--font-pretendard);
}
