.back {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 840px;
  overflow: hidden;
}
.back,
.chBox,
.div {
  position: absolute;
}
.chBox {
  top: 692px;
  left: 510px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.div {
  top: 86px;
  left: 545px;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 100px;
}
.span {
  color: var(--color-red-200);
}
.div1,
.div2,
.div3,
.div4,
.email {
  position: absolute;
  top: 148px;
  left: 509px;
  font-weight: 500;
}
.div1,
.div2,
.div3,
.div4 {
  top: 260px;
}
.div2,
.div3,
.div4 {
  top: 372px;
}
.div3,
.div4 {
  top: 484px;
}
.div4 {
  top: 596px;
}
.div5,
.div6 {
  position: absolute;
  top: 691px;
  left: 534px;
}
.div6 {
  top: 596px;
  left: 674px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: #ff4c13;
}
.div7 {
  top: 224px;
  color: var(--color-red-100);
}
.div10,
.div7,
.div8,
.div9 {
  position: absolute;
  left: 511px;
  font-size: var(--font-size-smi);
}
.div8 {
  top: 336px;
  color: #2a66ff;
}
.div10,
.div9 {
  top: 448px;
  color: var(--color-red-100);
}
.div10 {
  top: 560px;
}
.div11,
.div12,
.div13 {
  position: absolute;
  top: 638px;
  left: 534px;
  font-size: var(--font-size-sm);
}
.div12,
.div13 {
  left: 627px;
}
.div13 {
  left: 720px;
}
.inBox,
.inBox1,
.inBox2 {
  left: 510px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.inBox {
  position: absolute;
  top: 174px;
  border-radius: var(--br-8xs);
  width: 320px;
  height: 42px;
}
.inBox1,
.inBox2 {
  width: 420px;
}
.inBox1 {
  position: absolute;
  top: 286px;
  border-radius: var(--br-8xs);
  height: 42px;
}
.inBox2 {
  top: 398px;
}
.inBox2,
.inBox3,
.inBox4 {
  position: absolute;
  border-radius: var(--br-8xs);
  height: 42px;
}
.inBox3 {
  top: 510px;
  left: 510px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 420px;
}
.inBox4 {
  top: 174px;
  left: 836px;
  background-color: #061237;
  width: 94px;
}
.b,
.mfdbcom {
  position: absolute;
  top: 186px;
  left: 737px;
}
.b {
  left: 857px;
  color: var(--color-white);
}
.div14,
.div15,
.email1 {
  position: absolute;
  left: 522px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.email1 {
  top: 187px;
  font-weight: 300;
}
.div14,
.div15 {
  top: 299px;
}
.div15 {
  top: 411px;
  font-weight: 300;
}
.btnBox {
  top: 721px;
  left: 510px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumslateblue);
  width: 420px;
  height: 48px;
}
.b1,
.btnBox,
.radioIco {
  position: absolute;
}
.b1 {
  top: 735px;
  left: 689px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.radioIco {
  top: 638px;
  left: 510px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.radioIco1,
.radioIco2,
.radioIco3 {
  position: absolute;
  top: 642px;
  left: 514px;
  border-radius: 50%;
  background-color: var(--color-mediumslateblue);
  width: 8px;
  height: 8px;
}
.radioIco2,
.radioIco3 {
  top: 638px;
  left: 603px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.radioIco3 {
  left: 696px;
}
.bultIcon {
  position: absolute;
  top: 84px;
  left: 510px;
  width: 26.9px;
  height: 22px;
}
.member2 {
  width: 100%;
  position: relative;
  height: 840px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-pretendard);
}
